---
import { IconTumblr } from "@iconify-prerendered/vue-simple-icons"
const { source, className } = Astro.props

import {
  IconFacebook,
  IconX,
  IconInstagram,
  IconYoutube,
  IconGithub,
  IconGitlab,
  IconDiscord,
  IconSlack,
  IconMedium,
  IconBitbucket,
  IconDribbble,
  IconBehance,
  IconPinterest,
  IconSoundcloud,
  IconReddit,
  IconVk,
  IconWhatsapp,
  IconSnapchat,
  IconVimeo,
  IconTiktok,
  IconFoursquare,
  IconRss
} from "@iconify-prerendered/vue-simple-icons"
import { IconLinkedin } from "@iconify-prerendered/vue-lucide"

const {
  facebook,
  twitter,
  mastodon,
  instagram,
  youtube,
  linkedin,
  github,
  gitlab,
  discord,
  slack,
  medium,
  codepen,
  bitbucket,
  dribbble,
  behance,
  pinterest,
  soundcloud,
  tumblr,
  reddit,
  vk,
  whatsapp,
  snapchat,
  vimeo,
  tiktok,
  foursquare,
  rss,
  email,
  phone,
  address,
  skype,
  website
} = source
---

<ul class={className}>
  {
    facebook && (
      <li class="inline-block">
        <a
          aria-label="facebook"
          href={facebook}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconFacebook />
        </a>
      </li>
    )
  }
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconX />
        </a>
      </li>
    )
  }
  {
    mastodon && (
      <li class="inline-block">
        <a
          aria-label="mastodon"
          href={mastodon}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >

        </a>
      </li>
    )
  }
  {
    instagram && (
      <li class="inline-block">
        <a
          aria-label="instagram"
          href={instagram}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconInstagram />
        </a>
      </li>
    )
  }
  {
    youtube && (
      <li class="inline-block">
        <a
          aria-label="youtube"
          href={youtube}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconYoutube />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconLinkedin />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconGithub />
        </a>
      </li>
    )
  }
  {
    gitlab && (
      <li class="inline-block">
        <a
          aria-label="gitlab"
          href={gitlab}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconGitlab />
        </a>
      </li>
    )
  }
  {
    discord && (
      <li class="inline-block">
        <a
          aria-label="discord"
          href={discord}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconDiscord />
        </a>
      </li>
    )
  }
  {
    slack && (
      <li class="inline-block">
        <a
          aria-label="slack"
          href={slack}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconSlack />
        </a>
      </li>
    )
  }
  {
    medium && (
      <li class="inline-block">
        <a
          aria-label="medium"
          href={medium}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconMedium />
        </a>
      </li>
    )
  }
  {
    codepen && (
      <li class="inline-block">
        <a
          aria-label="codepen"
          href={codepen}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >

        </a>
      </li>
    )
  }
  {
    bitbucket && (
      <li class="inline-block">
        <a
          aria-label="bitbucket"
          href={bitbucket}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconBitbucket />
        </a>
      </li>
    )
  }
  {
    dribbble && (
      <li class="inline-block">
        <a
          aria-label="dribbble"
          href={dribbble}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconDribbble />
        </a>
      </li>
    )
  }
  {
    behance && (
      <li class="inline-block">
        <a
          aria-label="behance"
          href={behance}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconBehance />
        </a>
      </li>
    )
  }
  {
    pinterest && (
      <li class="inline-block">
        <a
          aria-label="pinterest"
          href={pinterest}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconPinterest />
        </a>
      </li>
    )
  }
  {
    soundcloud && (
      <li class="inline-block">
        <a
          aria-label="soundcloud"
          href={soundcloud}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconSoundcloud />
        </a>
      </li>
    )
  }
  {
    tumblr && (
      <li class="inline-block">
        <a
          aria-label="tumblr"
          href={tumblr}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconTumblr />
        </a>
      </li>
    )
  }
  {
    reddit && (
      <li class="inline-block">
        <a
          aria-label="reddit"
          href={reddit}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconReddit />
        </a>
      </li>
    )
  }
  {
    vk && (
      <li class="inline-block">
        <a
          aria-label="vk"
          href={vk}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconVk />
        </a>
      </li>
    )
  }
  {
    whatsapp && (
      <li class="inline-block">
        <a
          aria-label="whatsapp"
          href={whatsapp}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconWhatsapp />
        </a>
      </li>
    )
  }
  {
    snapchat && (
      <li class="inline-block">
        <a
          aria-label="snapchat"
          href={snapchat}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconSnapchat />
        </a>
      </li>
    )
  }
  {
    vimeo && (
      <li class="inline-block">
        <a
          aria-label="vimeo"
          href={vimeo}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconVimeo />
        </a>
      </li>
    )
  }
  {
    tiktok && (
      <li class="inline-block">
        <a
          aria-label="tiktok"
          href={tiktok}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconTiktok />
        </a>
      </li>
    )
  }
  {
    foursquare && (
      <li class="inline-block">
        <a
          aria-label="foursquare"
          href={foursquare}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconFoursquare />
        </a>
      </li>
    )
  }
  {
    skype && (
      <li class="inline-block">
        <a
          aria-label="skype"
          href={skype}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >

        </a>
      </li>
    )
  }
  {
    website && (
      <li class="inline-block">
        <a
          aria-label="website"
          href={website}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >

        </a>
      </li>
    )
  }
  {
    rss && (
      <li class="inline-block">
        <a
          aria-label="rss feed"
          href={rss}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IconRss />
        </a>
      </li>
    )
  }
  {
    email && (
      <li class="inline-block">
        <a aria-label="email" href={`mailto:${email}`}>

        </a>
      </li>
    )
  }
  {
    phone && (
      <li class="inline-block">
        <a aria-label="telephone" href={`tel:${phone}`}>
        </a>
      </li>
    )
  }
  {
    address && (
      <li class="inline-block">
        <a
          aria-label="location"
          href={address}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
        </a>
      </li>
    )
  }
</ul>
